.font-6 {
	FONT-SIZE: 8px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-6b {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-8 {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-8b {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-9 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-9b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-10 {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-10b {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-11 {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-11b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-12 {
	FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-12b {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-14 {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-14b {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-16 {
	FONT-SIZE: 17px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-16b {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-18 {
	FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-18b {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-20 {
	FONT-SIZE: 20px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-20b {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.font-14diab {
	FONT-SIZE: 14px; COLOR: #3d2c80; FONT-FAMILY: Verdana
}
.font-14diabb {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #3d2c80; FONT-FAMILY: Verdana
}
.font-14diaw {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.font-14diawb {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
