BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 10px; SCROLLBAR-HIGHLIGHT-COLOR: #3d5ed3; SCROLLBAR-SHADOW-COLOR: #1d2e68; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #1d2e68; SCROLLBAR-ARROW-COLOR: #1d2e68; SCROLLBAR-TRACK-COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #1d2e68; TEXT-DECORATION: none
}
TD {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 10px; SCROLLBAR-HIGHLIGHT-COLOR: #3d5ed3; SCROLLBAR-SHADOW-COLOR: #1d2e68; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #1d2e68; SCROLLBAR-ARROW-COLOR: #1d2e68; SCROLLBAR-TRACK-COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #1d2e68; TEXT-DECORATION: none
}
.copy {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.peque {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.peque2 {
	FONT-SIZE: 9px; COLOR: #fdca00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.asul10 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #698afa; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blue9 {
	FONT-SIZE: 9px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blue10 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluebold10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluebold10apre {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.bluebold11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluebold12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluebold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluebold16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #1d2e68; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.otempo {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.green10 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #33ff00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.green12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #33ff00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orange10 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff9933; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orange11 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff9933; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangebold10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f93; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangebold12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f93; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangebold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f93; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangebold16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #f93; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.red10 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #c60040; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.azulclaro {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #3c5ed3; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.azulclaro11 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3c5ed3; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white9 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white10 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white10apre {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.white11 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white14 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white16 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white18 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whiteboldapre {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.whitebold11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold18 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold22 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold50 {
	FONT-WEIGHT: bold; FONT-SIZE: 50px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whiteboldtrebuchet50 {
	FONT-WEIGHT: bold; FONT-SIZE: 50px; COLOR: #ffffff; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: none
}
.titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titulo2 {
	FONT-WEIGHT: normal; FONT-SIZE: 19px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4f73cb; TEXT-DECORATION: none
}
A.clase0:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.clase0:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.clase0:hover {
	COLOR: #4f73cb; TEXT-DECORATION: none
}
A.clase1:link {
	COLOR: #ffffff
}
A.clase1:visited {
	COLOR: #ffffff
}
A.clase1:hover {
	COLOR: #cc9933
}
A.clase2:link {
	COLOR: #1d2e68
}
A.clase2:visited {
	COLOR: #1d2e68
}
A.clase2:hover {
	COLOR: #cc9933
}
A.clase3:link {
	COLOR: #ff9933
}
A.clase3:visited {
	COLOR: #ff9933
}
A.clase3:hover {
	COLOR: #4f73cb
}
A.clase4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #33ff00
}
A.clase4:visited {
	COLOR: #ff9933
}
A.clase4:hover {
	COLOR: #ffffff
}
A.clase5:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff
}
A.clase5:visited {
	COLOR: #3c5ed3
}
A.clase5:hover {
	COLOR: #ff9933
}
A.clase6:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #1d2e68
}
A.clase6:visited {
	COLOR: #3c5ed3
}
A.clase6:hover {
	COLOR: #ffffff
}
TD#scroller2 {
	WIDTH: 160px
}
#holder1 {
	Z-INDEX: 1; LEFT: 10px; WIDTH: 298px; POSITION: relative; TOP: 5px; HEIGHT: 48px
}
DIV#wn1 {
	Z-INDEX: 1; OVERFLOW: hidden; WIDTH: 300px; CLIP: rect(0px 300px 48px 0px); POSITION: absolute; HEIGHT: 48px
}
DIV#cnt1 {
	Z-INDEX: 1; POSITION: absolute
}
DIV.item1 {
	FONT-SIZE: 10px; WIDTH: 280px; COLOR: #336; HEIGHT: 48px
}
#holder2 {
	Z-INDEX: 1; LEFT: 20px; WIDTH: 298px; POSITION: relative; TOP: 5px; HEIGHT: 97px
}
DIV#wn2 {
	Z-INDEX: 1; OVERFLOW: hidden; WIDTH: 300px; CLIP: rect(0px 300px 97px 0px); POSITION: absolute; HEIGHT: 97px
}
DIV#cnt2 {
	Z-INDEX: 1; POSITION: absolute
}
DIV.item2 {
	FONT-SIZE: 10px; WIDTH: 300px; COLOR: #336; HEIGHT: 97px
}
#holderaxendalab {
	Z-INDEX: 1; LEFT: 3px; WIDTH: 270px; POSITION: relative; TOP: 2px; HEIGHT: 25px
}
DIV#wnaxendalab {
	Z-INDEX: 1; OVERFLOW: hidden; WIDTH: 270px; CLIP: rect(0px 270px 25px 0px); POSITION: absolute; HEIGHT: 25px
}
DIV#cntaxendalab {
	Z-INDEX: 1; POSITION: absolute
}
DIV.itemaxendalab {
	FONT-SIZE: 10px; WIDTH: 270px; COLOR: #336; HEIGHT: 25px
}
#holderaxendacult {
	Z-INDEX: 1; LEFT: 3px; WIDTH: 270px; POSITION: relative; TOP: 2px; HEIGHT: 25px
}
DIV#wnaxendacult {
	Z-INDEX: 1; OVERFLOW: hidden; WIDTH: 270px; CLIP: rect(0px 270px 25px 0px); POSITION: absolute; HEIGHT: 25px
}
DIV#cntaxendacult {
	Z-INDEX: 1; POSITION: absolute
}
DIV.itemaxendacult {
	FONT-SIZE: 10px; WIDTH: 270px; COLOR: #336; HEIGHT: 25px
}
#holdercine {
	Z-INDEX: 1; LEFT: 24px; WIDTH: 102px; POSITION: relative; TOP: 8px; HEIGHT: 143px
}
DIV#wncine {
	Z-INDEX: 1; OVERFLOW: hidden; WIDTH: 102px; CLIP: rect(0px 102px 143px 0px); POSITION: absolute; HEIGHT: 143px
}
DIV#cntcine {
	Z-INDEX: 1; POSITION: absolute
}
DIV.itemcine {
	FONT-SIZE: 10px; WIDTH: 102px; COLOR: #336; HEIGHT: 143px
}
