fprolloverstyle, a:hover {color:blue}
A {text-decoration: underline; color: #694405; font-weight:bold; padding-left:5px; padding-right:5px; font-size: 11px; font-family: Verdana}
TD{font-size: 11; color:#ffffff; font-family: Verdana,Arial}
.bot{color:black; font-weight:bold; text-decoration:none; font-size:7pt; font-family:Verdana}
.style1 {line-height: 20%; font-family: "Times New Roman", Times, serif; font-size: x-small; color: #FFA717}